@charset   "UTF-8";
body {
  background-color: #120284;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: #05EE05;
}
 
header   {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
}